<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sumansoft.ssp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/partysambol_01"
        android:label="@string/app_name"
        android:roundIcon="@drawable/partysambol_01"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name="com.example.sumansoft.ssp.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.sumansoft.ssp.IdeologyActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.example.sumansoft.ssp.DifferentActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.example.sumansoft.ssp.SripalActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.example.sumansoft.ssp.RajpalActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.example.sumansoft.ssp.KuldeepActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.example.sumansoft.ssp.RajeshActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.example.sumansoft.ssp.DonationActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.example.sumansoft.ssp.NeftActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name="com.example.sumansoft.ssp.FqaActivity" />
        <activity
            android:name="com.example.sumansoft.ssp.OnlineActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.example.sumansoft.ssp.ContactInfoActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.example.sumansoft.ssp.UPAgendaActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name="com.example.sumansoft.ssp.PhotoActivity" />
        <activity android:name="com.example.sumansoft.ssp.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
    </application>

</manifest>